<mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <!-- Bedingung für Boolean-Werte -->
      <ng-container *ngIf="element[column] !== null && element[column] !== undefined; else dash">
        {{ element[column] === true ? 'Ja' : (element[column] === false ? 'Nein' : element[column]) }}
      </ng-container>
      <ng-template #dash>-</ng-template>
    </mat-cell>
  </ng-container>

  <!-- Tabellenzeilen -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{ 'table-row': row.auftragId }"
    [routerLink]="row.auftragId ? ['/auftrag-detail', row.auftragId] : null">
  </mat-row>

</mat-table>
