<div class="uebersicht-container">
  <h2>Übersicht</h2>

  <!-- Tabelle 1: Offene Aufträge -->
  <h3>Offene Aufträge</h3>
  <app-table
    [dataSource]="offeneAuftraegeDataSource"
    [displayedColumns]="offeneAuftraegeDisplayedColumns">
  </app-table>
  <mat-paginator
    #offenePaginator
    [pageSize]="3"
    [pageSizeOptions]="[3]"
    showFirstLastButtons>
  </mat-paginator>

  <!-- Tabelle 2: Terminierte Aufträge -->
  <h3>Terminierte Aufträge</h3>
  <app-table
    [dataSource]="terminierteAuftraegeDataSource"
    [displayedColumns]="terminierteAuftraegeDisplayedColumns">
  </app-table>
  <mat-paginator
    #terminiertePaginator
    [pageSize]="3"
    [pageSizeOptions]="[3]"
    showFirstLastButtons>
  </mat-paginator>

  <!-- Tabelle 3: In Bearbeitung Aufträge -->
  <h3>In Bearbeitung Aufträge</h3>
  <app-table
    [dataSource]="inBearbeitungAuftraegeDataSource"
    [displayedColumns]="inBearbeitungAuftraegeDisplayedColumns">
  </app-table>
  <mat-paginator
    #inBearbeitungPaginator
    [pageSize]="3"
    [pageSizeOptions]="[3]"
    showFirstLastButtons>
  </mat-paginator>
</div>
