.sidenav-container {
  height: 100vh;
}

.sidenav-header {
  padding: 16px;
  font-size: 14px;
  background-color: #f5f5f5;
}

hr {
  margin: 16px 0;
}

.logout-button {
  position: absolute;
  bottom: 16px;
  width: 100%;
  text-align: center;
}

.logout-button button {
  width: 90%;
}
